/********************************************************************************
	CSS Estilos
	Nombre: 
	Responsable: Noemi M.
********************************************************************************/
.span12 {
    
    width: 113%;
}
.span11 {
   
    width: 95%;
}
.span10 {
    
    width: 86%;
}
.span9 {
    
    width: 77%;
}
.span8 {
    
    width: 68%;
}
.span7 {
    
    width: 60%;
}
.span6 {
    
    width: 51%;
}
.span5 {
   
    width: 42%;
}
.span4 {
    
    width: 33%;
}
.span3 {
    
    width: 24%;
}
.span2 {
    
    width: 16%;
}
.span1 {
    
    width: 7%;
}
/********************************************************************************
	CSS Estilos
	Nombre: Estado de la captura
	Responsable: David P.
********************************************************************************/

div.navbar {
    background: url("../img/navbar.png") repeat scroll 407px 574px #66CC00;
    border: 1px solid;
    color: white;
    font-family: Verdana;
    font-size: 1.3em;
    height: 1.5em;
    min-height: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
}
.navbarbottom {
     background: none repeat scroll 0 0 ghostWhite;
    border: 2px solid ghostWhite;
    border-radius: 10px 10px 10px 10px;
    display: block;
    font-family: "Arial";
    font-size: 0.9em;
    font-weight: lighter;
    height: auto;
    margin: auto auto 20px;
    padding: 14px;
    text-align: center;
    width: 96%;
}

/*****************************
Contenedor para docentes y Admin
******************************/
.container {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 5px GhostWhite;
    font-family: "Arial";
	font-size: 0.9em;
    font-weight: lighter;
    height: auto;
    border: 2px solid GhostWhite;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
	font-family:verdana, arial, helvetica, sans-serif;
}
/*****************************
      Contenedor para alumnos
******************************/
.container-alum {
    border-radius: 15px 15px 15px 15px;
    font-family: "Arial";
	font-size: 0.9em;
    font-weight: lighter;
    height: auto;
    border: 2px solid GhostWhite;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
	font-family:verdana, arial, helvetica, sans-serif;
}
.botones {
    background: none repeat scroll 0 0 MintCream;
    box-shadow: 0 0 5px LightGrey;
    border: 2px solid LightGrey;
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin: -1px 11% 40px 0;
    padding: 14px;
    text-align: center;
    width: 97%;
    word-spacing: 74px;
}
/*****************************
      grupo: normal
******************************/
.group {
    border: 2px solid LawnGreen;
     box-shadow: 0 0 5px LawnGreen;
	border-radius: 10px 10px 10px 10px;
    font-family: "Arial";
    font-size: 1.1em;
    font-weight: lighter;
    height: 90px;
    margin-left: 5%;
    margin-top: 1%;
    width: 85%;
	background: none repeat scroll 0 0 white;
    margin: auto;
    padding: 14px;
	margin-bottom: 20px;
	display: block;
}
/*****************************
      grupo: extra
******************************/
.group2 {
    border: 2px solid LawnGreen;
    box-shadow: 0 0 5px LawnGreen;
	border-radius: 10px 10px 10px 10px;
    font-family: "Arial";
    font-size: 1.1em;
    font-weight: lighter;
    height: 180px;
    margin-left: 5%;
    margin-top: 1%;
    width: 85%;
	background: none repeat scroll 0 0 white;
    margin: auto;
    padding: 14px;
	margin-bottom: 20px;
	display: block;
   
}
/*****************************
      etiqueta de grupo
******************************/
.detalle {
    
    border: 2px solid ghostWhite;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: -23px;
    text-align: center;
    width: 100px;
    color: white;
	background-color: #FFC60B;
    background-image: -moz-linear-gradient(center top , #E08400, #FFC60B);
	
	
}
/*****************************
      grupo: Empresa
******************************/
.numero {
    left: 1%;
    position: relative;
    top: 15%;
}
.inputnumero {
    bottom: 10%;
    left: 12%;
    position: relative;
}
.clave {
    bottom: 31%;
    left: 35%;
    position: relative;
}
.inputclave {
    bottom: 56%;
    left: 44%;
    position: relative;
}
.name {
    bottom: 46%;
    left: 1%;
    position: relative;
}
.inputname {
    bottom: 70%;
    left: 12%;
    position: relative;
}
.sector {
    bottom: 60%;
    left: 1%;
    position: relative;
}
.inputsector {
    bottom: 83%;
    left: 12%;
    position: relative;
}
.tamano {
    bottom: 106%;
    left: 61%;
    position: relative;
}
.inputtamano {
    bottom: 130%;
    left: 72%;
    position: relative;
}
/*****************************
      grupo: direccion
******************************/
.calle {
    left: 1%;
    position: relative;
    top: 14%;
}
.inputcalle {
    bottom: 11%;
    left: 12%;
    position: relative;
}
.num {
    bottom: 32%;
    left: 62%;
    position: relative;
}
.inputnum {
    bottom: 57%;
    left: 72%;
    position: relative;
}
.colonia {
    bottom: 48%;
    left: 1%;
    position: relative;
}
.inputcolonia {
    bottom: 72%;
    left: 12%;
    position: relative;
}
.cp {
    bottom: 94%;
    position: relative;
    left: 62%;
}
.inputcp {
    bottom: 118%;
    position: relative;
    left: 72%;
}
.ciudad {
    bottom: 108%;
    left: 1%;
    position: relative;
}
.inputciudad {
    bottom: 132%;
    left: 12%;
    position: relative;
}
.estado {
    bottom: 155%;
    position: relative;
    left: 62%;
}
.inputestado {
    bottom: 178%;
    position: relative;
    left: 72%;
}
/*****************************
      grupo: contacto
******************************/

.web {
    left: 1%;
    position: relative;
    top: 10%;
}
.inputweb {
    bottom: 2%;
    left: 18%;
    position: relative;
}
.teluno {
    left: 1%;
    position: relative;
    top: 2%;
}
.inputteluno {
    bottom: 10%;
    left: 18%;
    position: relative;
}
.extuno {
    bottom: 22%;
    left: 60%;
    position: relative;
}
.inputextuno {
    bottom: 33%;
    left: 68%;
    position: relative;
}
.teldos {
    bottom: 28%;
    left: 1%;
    position: relative;
}
.inputteldos {
    bottom: 41%;
    left: 18%;
    position: relative;
}
.extdos {
    bottom: 50%;
    left: 60%;
    position: relative;
}
.inputextdos {
    bottom: 64%;
    position: relative;
    left: 68%;
}
.cnt_e {
    bottom: 60%;
    left: 1%;
    position: relative;
}
.inputcnt_e {
    bottom: 80%;
    left: 18%;
    position: relative;
}
.cnt_vi {
    bottom: 96%;
    left: 1%;
    position: relative;
}
.inputcnt_vi {
    bottom: 118%;
    left: 18%;
    position: relative;
}
.e-mailuno {
    bottom: 90%;
    position: relative;
    left: 60%;
}
.inpute-mailuno {
    bottom: 103%;
    position: relative;
    left: 68%;
}
.e-maildos {
    bottom: 128%;
    position: relative;
    left: 60%;
}
.inpute-maildos {
    bottom: 142%;
    position: relative;
    left: 68%;
}
/*****************************
      grupo: Programas Educativos
******************************/
.pe_1 {
    bottom: -5px;
    position: relative;
    right: -45px;
}
.pe_2 {
    bottom: 78px;
    position: relative;
    right: -220px;
}
.pe_3 {
    bottom: 160px;
    position: relative;
    right: -390px;
}
/*****************************
      grupo: Competencias
******************************/
.competencias {
    height: 76%;
    position: relative;
    right: 0;
    top: 8%;
    width: 99%;
    vertical-align: top;
}
/*****************************
      grupo: Observaciones
******************************/
.observaciones {
    display: block;
    height: 93%;
    left: 1%;
    position: relative;
    top: 4%;
    vertical-align: top;
    width: 80%;
}
.btn1 {
    bottom: 95%;
    position: relative;
    left: 84%;
    word-spacing: 6px;
}
.btn2 {
    bottom: 82%;
    position: relative;
    left: 84%;
    word-spacing: 6px;
}
/*****************************
      grupo: Empresa-Alumnos
******************************/
.inputnumero-alum {
    bottom: 14%;
    left: 18%;
    position: relative;
}
.name-alum {
    bottom: 1%;
    left: 1%;
    position: relative;
}
.inputname-alum {
    bottom: 26%;
    left: 18%;
    position: relative;
}
.web-alum {
    bottom: 16%;
    left: 1%;
    position: relative;
}
.inputweb-alum {
    bottom: 40%;
    left: 18%;
    position: relative;
}
/*****************************
Contenedor para Session
******************************/
.container-session {
    border: 2px solid GhostWhite;
    border-radius: 15px 15px 15px 15px;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    height: 576px;
    margin-left: 0%;
    margin-top: 1%;
    width: 100%;
}
.login {
    border: 4px solid ghostWhite;
    border-radius: 15px 15px 15px 15px;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    height: 290px;
    margin-left: 0;
    margin-top: 1%;
    width: 25%;
    position: relative;
    top: 80px;
    left: 525px;
}
.btn-primary {
    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 5px 5px 5px 5px;
	color: white;
	width: 10%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	background-color: #B81600;
    background-image: -moz-linear-gradient(center top , #D60D00, #B81600);
}
.well {
    background-color: #F5F5F5;
    border: 1px solid ghostWhite;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    width: 296px;
    margin-left: 18px;
    height: 205px;
}
.etiqueta {
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 18px;
	text-align: center;
}

/*****************************************
        ventana configuracion
******************************************/
.datosdirector {
    border: 2px solid LawnGreen;
    box-shadow: 0 0 5px LawnGreen;
    border-radius: 10px 10px 10px 10px;
    font-family: "Arial";
    font-size: 1.1em;
    font-weight: lighter;
    height: auto;
    margin: 2% 11px 11px;
    padding: 12px;
    width: 45%;
}
.detalle-conf {
    
    border: 2px solid ghostWhite;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: -23px;
    text-align: center;
    width: 100px;
    color: white;
    background-color: #FFC60B;
    background-image: -moz-linear-gradient(center top , #E08400, #FFC60B);
    

}
.listaempresas {
   border: 2px solid LawnGreen;
    box-shadow: 0 0 5px LawnGreen;
    border-radius: 10px 10px 10px 10px;
    font-family: "Arial";
    font-size: 1.1em;
    font-weight: lighter;
    height: auto;
    margin: 2% 11px 11px;
    padding: 12px;
    width: 45%;
}
.competencias-carrera {
    height: 136px;
    left: 1%;
    position: relative;
    top: 12%;
    width: 97%;
     vertical-align: top;
}
.competencias {
    position: fixed;
    top: 32%;
    left: 50%;
    width: 28%;
    height: auto;
}

